@import url('https://fonts.googleapis.com/css2?family=Jura&family=Playfair+Display:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.play2{
    font-family: 'Jura', sans-serif;
   
}

.play{
    font-family: 'Playfair Display', serif;
}

.header{
    position: relative;
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWrsSg7sX2D6tr6pNAX6Tj4_G8Bbxki8O2RA&usqp=CAU);
    background-position: center;
    background-size: cover;
    padding: 10%;
    box-shadow: inset 0 0 150px 20px black;
}

.header .welcone{
    position: absolute;
    color: white;
    height: 40px;
    bottom: 60px;
}
.header .busqueda{
    position: absolute;
    height: 40px;
    width: 80%;
    bottom: -20px;
    background-color: blue;
    box-shadow: 0 10px 10px rgba(0,0,0,25);
}

.busqueda .icono{
    width: 40px;
    height: 40px;
    background-color: brown;
    color: white;
    text-align: center;
    line-height: 40px;
}

.busqueda input[type="search"]{
    background-color: transparent;
    height: 40px;
    width: calc(100% - 80px);
}