*{margin: 0; padding: 0;box-sizing: border-box;}



body{
    background-image: url("https://images.pexels.com/photos/352096/pexels-photo-352096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg");
}
footer{
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color:  rgb(0, 119, 255);
    align-items: center;
    text-align: center;
    justify-content: center;
    
   
}

.flex{
    display: flex;
}
.menu{
    height: 50px;
    background-color: rgb(0, 119, 255);
}


/*/-------------------Contenido-------------------------/*/
.imagen{
    height: 150px;
    width: 250px;
}

.wrapper{
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    

}
.contenido{
    padding: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap; /*para que no baje*/
   
}

.pantalla{
    padding: 20px;
    border: solid 5px;
    flex: 1 1 auto;
    
    /*flex-grow: 1; /*aplico crecimiento*/
   /* flex-shrink: 0; /*aplico achicamiento*/
   /* flex-basis: 300px; /*ancho o alto minimo*/
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}



/* ------------------------------------------------------button---------------------------*/

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all .5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }