* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    transition: all 0.6s ease
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Source+Sans+Pro:400,700');

/* menu */
nav {

    background-color: white;
}

nav ul {
    height: 130px;
    max-width: 1920px;
    width: 75%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

nav ul li {

    list-style: none;
    text-align: center;


}

.wrap {}

.m100 {
    margin-left: 100px;
}

nav ul li a {
    font-size: 15px;
    flex-wrap: wrap;
}


/* contenedores */
.contenedor {
    max-width: 1920px;
    width: auto;


    height: auto;
}

.select {

    width: 300px;
}

.select2 {

    width: 300px;
}

.home {

    overflow: hidden;

    height: 198px;

    display: flex;
    background-color: yellow;
    align-items: center;
    justify-content: center;


}




.header {
    position: relative;

    height: 836px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWrsSg7sX2D6tr6pNAX6Tj4_G8Bbxki8O2RA&usqp=CAU);
    background-position: center;
    background-size: cover;

    box-shadow: inset 0 0 150px 20px black;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.btn {
    width: 100px;
    background-color: gray;
    border-radius: 0 0 10px 0;
    color: white;
}

.blanco {
    color: white;
}

.h20 {
    height: 20;
    background-color: yellow;
}

.gp20 {
    gap: 20px;
}

.publicidad {
    position: relative;
    max-width: 1920px;
    height: 616px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWrsSg7sX2D6tr6pNAX6Tj4_G8Bbxki8O2RA&usqp=CAU);
    background-position: center;
    background-size: cover;

    box-shadow: inset 0 0 150px 20px black;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.subhome {

    overflow: hidden;

    height: 198px;

    display: flex;
    background-color: yellow;
    align-items: center;
    margin-bottom: 20px;


}

.titulo {
    width: 1920px;
    height: 90px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    width: 75%;
    background-color: gray;
}

.texto {
    background-color: white;
    height: 175px;
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 3px solid goldenrod;
    gap: 20px;
}

.h2 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.h3 {

    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.span {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

/* footer */


.w50 {

    width: 50%;
}

.h230 {
    height: 230px;
}

.final {
    display: flex;
    width: 80%;
    margin: auto;
    background-color: rgb(181, 98, 98);
}


.w100 {
    width: 100%;
}



ul li {
    list-style: none;
}

.img {


    height: 30px;
}

.final-footer {
    display: flex;
    flex-direction: column;
}

.icono-flex {

    display: flex;
    justify-content: space-between;
}


.flex {
    display: flex;
}

.start-align {
    align-items: flex-start;
}